
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <legend class="text-center">or log in</legend>
  <label>
  	<%= f.email_field :email, :class => "input-block-level", :placeholder => "Email" %></p>
  </label>
  <label>
  	<%= f.password_field :password, :class => "input-block-level", :placeholder => "Password" %></p>
  </label>
  <label>
  	<%= link_to "Forgot password?", new_password_path(resource_name) %><br />
  	
  </label>
  <label class="form-bt text-center">
  	<%= f.submit "Sign in", :class => "btn btn-danger" %>
  </label>
  <label class="signupsuggest text-center">
    <p class="text-center">Not a member?<a href="#">Sign up now</a></p>
  </label>
<% end %>